<div>
  <div class="well well-md">
    <div class="row">
      <div class="text-success col-md-4"><h4>{{title}}</h4></div>
      <div *ngIf="!isLoggedOn" class="col-md-4 col-md-push-4"><button class="btn btn-success" (click)='openLoginDialog()'>Login</button></div>
      <div *ngIf="!isLoggedOn" class="col-md-4 col-md-push-2"><button class="btn btn-info" (click)='openRegisterDialog()'>Register</button></div>
      <div *ngIf="isLoggedOn" class="col-md-4 col-md-push-4 col-md-offset-2"><button class="btn btn-warning" (click)= 'logOut()'>Log Out</button></div>
    </div>
   </div>
  <br>
<div>
